:root{
    --white: #ffffff;
    --purple:#8284FA;
    --purple-dark: #5e60ce;
    --blue: #4ea8de;
    --blue-dark: #1e6f9f;
    
    --gray-100: #f2f2f2;
    --gray-200: #d9d9d9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1a1a1a;
    --gray-700: #0d0d0d;
    
    --danger: #e25858;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: var(--gray-600);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: var(--gray-300);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  button {
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
    align-items: center;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1rem;
    color: var(--white);
    font-weight: 700;
    background-color: var(--blue-dark);
    cursor: pointer;
    transition: background-color 0.25s;
  }
  button:hover {
    background-color: var(--blue);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }